<table>

<tr>
<!-- <td>It's <%= Time.now %> now</td> -->
<td><button type="button" class="btn btn-primary btn-lg"><%= link_to 'Hello!', welcome_say_hello_path %></button></td>
<!-- <td><%= link_to 'Hello!', welcome_say_hello_path %></td> -->
<td><button type="button" class="btn btn-primary btn-lg"><%= link_to "Books", books_path %></button></td>
</tr>

</table>